fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
pandas
numpy
scikit-learn
xgboost
shap
geopandas
folium
requests
pydantic
pytest
httpx
geopy
shapely
matplotlib
seaborn
aiohttp